@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:  #1D1D1B;
  font-family: Arial, Helvetica, sans-serif;
}

.principal{
  background: #1D1D1B;
  height: 80%;
  width: 100%;
}

.barraprincipal{
  height: 100px;
  width: 100%;

}

.boton{
  background: #532ece;
}

.boton:hover{
    background: #371e87;
}

.botonses{
  color:#44cfe2;
}

.botonses:hover{
    color:#2e8b97;
}